/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    ;
}

/* generici */

body{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;

}

li{
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
    background-color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    box-shadow: 0 3px 1px gray;
}

ul{
    position: absolute;
    right: 0;
    top: 25px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 900;
    font-size: 32px;
    color: yellow;
}


/* utili */

.container{
    text-align: center;
    max-width: 900px;
}

/* intestazione */

.navbar{
    background-color: transparent;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

/* prima sezione */

#up{
    background-color: red;
    height: 100vh;
}

.upper{
    width: 600px;
    display:block;
}

/* seconda sezione */

#middle{
    background-color: green;
    height: 100vh;
}

.center{
    width: 600px;
}

/* terza sezione */

#down{
    background-color: yellow;
    height: 100vh;
}

.lower{
    width: 650px;
}

.y-title{
    font-weight: 900;
    font-size: 32px;
    color: green;
}