/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    ;
}

/* generici */

li{
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
    background-color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}

ul{
    position: absolute;
    right: 0;
    top: 25px;
}

h1{
    font-weight: 900;
    font-size: 32px;
    color: yellow;
}

/* utili */

.container{
    text-align: center;
}

/* intestazione */

.navbar{
    background-color: red;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

/* prima sezione */

.red{
    background-color: red;
    height: 100vh;
}